################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BE/.vs/KMA.SmartHome/v17
/BE/.vs/KMA.SmartHome/FileContentIndex
/BE/.vs/KMA.SmartHome/DesignTimeBuild
/BE/.vs/ProjectEvaluation
/BE/.vs/TestAPI
/BE/KMA.SmartHome.API/bin/Debug/net6.0
/BE/KMA.SmartHome.API/obj/Debug/net6.0
/BE/KMA.SmartHome.API/obj
/BE/KMA.SmartHome.BL/bin/Debug/net6.0
/BE/KMA.SmartHome.BL/obj/Debug/net6.0
/BE/KMA.SmartHome.BL/obj
/BE/KMA.SmartHome.Common/bin/Debug/net6.0
/BE/KMA.SmartHome.Common/obj
/BE/KMA.SmartHome.DL/bin/Debug/net6.0
/BE/KMA.SmartHome.DL/obj
/BE/KMA.SmartHome.UI/bin/Debug/net6.0
/BE/KMA.SmartHome.UI/obj
/BE/.vs/KMA.SmartHome/CopilotIndices/17.13.441.19478
/BE/KMA.SmartHome.DL/obj
/BE/KMA.SmartHome.DL/obj
/.vs/KMA.SmartHome/CopilotIndices/17.13.441.19478
/.vs
/BE/KMA.SmartHome.UI/obj/Debug/net6.0
/BE/KMA.SmartHome.UI/obj/Debug/net6.0/KMA.SmartHome.UI.AssemblyInfo.cs
/BE/KMA.SmartHome.API/obj/Debug/net6.0/KMA.SmartHome.API.AssemblyInfo.cs
/BE/KMA.SmartHome.API/obj/Debug/net6.0/KMA.SmartHome.API.assets.cache
/BE/KMA.SmartHome.API/obj/Debug/net6.0/KMA.SmartHome.API.AssemblyInfoInputs.cache
/BE/KMA.SmartHome.API/obj/Debug/net6.0/KMA.SmartHome.API.GeneratedMSBuildEditorConfig.editorconfig
/BE/KMA.SmartHome.API/obj/Debug/net6.0/KMA.SmartHome.API.csproj.AssemblyReference.cache
/BE/KMA.SmartHome.API/obj/project.assets.json
/BE/KMA.SmartHome.API/obj/KMA.SmartHome.API.csproj.nuget.dgspec.json
/BE/KMA.SmartHome.API/obj/project.nuget.cache
/BE/KMA.SmartHome.API/obj/Debug/net6.0/KMA.SmartHome.API.AssemblyInfo.cs
/BE/KMA.SmartHome.API/obj/Debug/net6.0/KMA.SmartHome.API.AssemblyInfoInputs.cache
/BE/KMA.SmartHome.API/obj/Debug/net6.0/KMA.SmartHome.API.assets.cache
/BE/KMA.SmartHome.API/obj/project.nuget.cache
/BE/KMA.SmartHome.API/obj/project.assets.json
/BE/KMA.SmartHome.API/obj/KMA.SmartHome.API.csproj.nuget.dgspec.json
/BE/KMA.SmartHome.API/obj/Debug/net6.0/KMA.SmartHome.API.csproj.AssemblyReference.cache
/BE/KMA.SmartHome.API/obj/Debug/net6.0/KMA.SmartHome.API.GeneratedMSBuildEditorConfig.editorconfig
/BE/KMA.SmartHome.BL/obj/Debug/net6.0/KMA.SmartHome.BL.AssemblyInfo.cs
/BE/KMA.SmartHome.BL/obj/Debug/net6.0/KMA.SmartHome.BL.AssemblyInfoInputs.cache
/BE/KMA.SmartHome.BL/obj/Debug/net6.0/KMA.SmartHome.BL.assets.cache
/BE/KMA.SmartHome.BL/obj/Debug/net6.0/KMA.SmartHome.BL.csproj.AssemblyReference.cache
/BE/KMA.SmartHome.BL/obj/Debug/net6.0/KMA.SmartHome.BL.GeneratedMSBuildEditorConfig.editorconfig
/BE/KMA.SmartHome.API/obj/Debug/net6.0/KMA.SmartHome.API.AssemblyInfo.cs
/BE/KMA.SmartHome.API/obj/Debug/net6.0/KMA.SmartHome.API.AssemblyInfoInputs.cache
/BE/KMA.SmartHome.API/obj/Debug/net6.0/KMA.SmartHome.API.GeneratedMSBuildEditorConfig.editorconfig
/BE/KMA.SmartHome.BL/obj/Debug/net6.0
/BE/KMA.SmartHome.BL/obj/Debug/net6.0/KMA.SmartHome.BL.AssemblyInfo.cs
/BE/KMA.SmartHome.BL/obj/Debug/net6.0/KMA.SmartHome.BL.AssemblyInfoInputs.cache
/BE/KMA.SmartHome.BL/obj/Debug/net6.0/KMA.SmartHome.BL.assets.cache
/BE/KMA.SmartHome.BL/obj/Debug/net6.0/KMA.SmartHome.BL.GeneratedMSBuildEditorConfig.editorconfig
/BE/KMA.SmartHome.BL/obj/KMA.SmartHome.BL.csproj.nuget.dgspec.json
/BE/KMA.SmartHome.Common/obj/Debug/net6.0/KMA.SmartHome.Common.AssemblyInfo.cs
/BE/KMA.SmartHome.DL/obj/Debug/net6.0/KMA.SmartHome.DL.AssemblyInfo.cs
/BE/KMA.SmartHome.DL/obj/Debug/net6.0/KMA.SmartHome.DL.AssemblyInfoInputs.cache
