/.vs/KMA.SmartHome/CopilotIndices/17.13.441.19478
/.vs
/BE/KMA.SmartHome.API/obj/Debug
/BE/KMA.SmartHome.API/bin/Debug
BE/.vs/KMA.SmartHome/config/applicationhost.config
BE/KMA.SmartHome.API/bin/Debug/net6.0/KMA.SmartHome.API.dll
/BE/KMA.SmartHome.API/bin/Debug/net6.0/KMA.SmartHome.API.dll
/BE/KMA.SmartHome.API/bin/Debug/net6.0/KMA.SmartHome.API.exe
/BE/KMA.SmartHome.API/bin/Debug/net6.0/KMA.SmartHome.API.pdb
/BE/KMA.SmartHome.API/bin/Debug/net6.0/KMA.SmartHome.BL.dll
/BE/KMA.SmartHome.API/bin/Debug/net6.0/KMA.SmartHome.BL.pdb
/BE/KMA.SmartHome.API/bin/Debug/net6.0/KMA.SmartHome.DL.pdb
/BE/KMA.SmartHome.API/bin/Debug/net6.0/KMA.SmartHome.Common.pdb
/BE/KMA.SmartHome.API/bin/Debug/net6.0/KMA.SmartHome.Common.dll
/BE/KMA.SmartHome.API/bin/Debug/net6.0/KMA.SmartHome.DL.dll
/BE/KMA.SmartHome.API/obj/Debug/net6.0/EndpointInfo/KMA.SmartHome.API.json
/BE/KMA.SmartHome.API/obj/Debug/net6.0/ref/KMA.SmartHome.API.dll
/BE/KMA.SmartHome.API/obj/Debug/net6.0/refint/KMA.SmartHome.API.dll
/BE/KMA.SmartHome.API/obj/Debug/net6.0/apphost.exe
/BE/KMA.SmartHome.API/obj/Debug/net6.0/KMA.SmartHome.API.csproj.AssemblyReference.cache
/BE/KMA.SmartHome.API/obj/Debug/net6.0/KMA.SmartHome.API.csproj.FileListAbsolute.txt
/BE/KMA.SmartHome.API/obj/Debug/net6.0/ApiEndpoints.json
/BE/KMA.SmartHome.API/obj/Debug/net6.0/KMA.SmartHome.API.csproj.CoreCompileInputs.cache
/BE/KMA.SmartHome.API/obj/Debug/net6.0/KMA.SmartHome.API.dll
/BE/KMA.SmartHome.API/obj/Debug/net6.0/KMA.SmartHome.API.genruntimeconfig.cache
/BE/KMA.SmartHome.API/obj/Debug/net6.0/KMA.SmartHome.API.pdb
/BE/KMA.SmartHome.API/obj/Debug/net6.0/KMA.SmartHome.API.sourcelink.json
/BE/KMA.SmartHome.BL/bin/Debug/net6.0/KMA.SmartHome.BL.dll
/BE/KMA.SmartHome.BL/bin/Debug/net6.0/KMA.SmartHome.Common.dll
/BE/KMA.SmartHome.BL/bin/Debug/net6.0/KMA.SmartHome.BL.pdb
/BE/KMA.SmartHome.BL/bin/Debug/net6.0/KMA.SmartHome.Common.pdb
/BE/KMA.SmartHome.BL/bin/Debug/net6.0/KMA.SmartHome.DL.dll
/BE/KMA.SmartHome.BL/bin/Debug/net6.0/KMA.SmartHome.DL.pdb
/BE/KMA.SmartHome.BL/obj/Debug/net6.0/ref/KMA.SmartHome.BL.dll
/BE/KMA.SmartHome.BL/obj/Debug/net6.0/refint/KMA.SmartHome.BL.dll
/BE/KMA.SmartHome.Common/bin/Debug/net6.0/KMA.SmartHome.Common.dll
/BE/KMA.SmartHome.Common/bin/Debug/net6.0/KMA.SmartHome.Common.pdb
/BE/KMA.SmartHome.Common/obj/Debug/net6.0/ref/KMA.SmartHome.Common.dll
/BE/KMA.SmartHome.Common/obj/Debug/net6.0/refint/KMA.SmartHome.Common.dll
/BE/KMA.SmartHome.UI/obj/Debug/net6.0/ref/KMA.SmartHome.UI.dll
/BE/KMA.SmartHome.UI/obj/Debug/net6.0/refint/KMA.SmartHome.UI.dll
/BE/KMA.SmartHome.UI/obj/Debug/net6.0/staticwebassets/msbuild.KMA.SmartHome.UI.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
/BE/KMA.SmartHome.DL/obj/Debug/net6.0/refint/KMA.SmartHome.DL.dll
/BE/KMA.SmartHome.DL/obj/Debug/net6.0/ref/KMA.SmartHome.DL.dll
/BE/KMA.SmartHome.DL/obj/Debug/net6.0/KMA.SmartHome.DL.csproj.AssemblyReference.cache
/BE/KMA.SmartHome.BL/obj/Debug/net6.0/KMA.SmartHome.BL.dll
/BE/KMA.SmartHome.BL/obj/Debug/net6.0/KMA.SmartHome.BL.pdb
/BE/KMA.SmartHome.BL/obj/Debug/net6.0/KMA.SmartHome.BL.sourcelink.json
/BE/KMA.SmartHome.Common/obj/Debug/net6.0/KMA.SmartHome.Common.AssemblyInfoInputs.cache
/BE/KMA.SmartHome.Common/obj/Debug/net6.0/KMA.SmartHome.Common.dll
/BE/KMA.SmartHome.Common/obj/Debug/net6.0/KMA.SmartHome.Common.pdb
/BE/KMA.SmartHome.Common/obj/Debug/net6.0/KMA.SmartHome.Common.sourcelink.json
/BE/KMA.SmartHome.DL/bin/Debug/net6.0/KMA.SmartHome.Common.dll
/BE/KMA.SmartHome.DL/bin/Debug/net6.0/KMA.SmartHome.Common.pdb
/BE/KMA.SmartHome.DL/bin/Debug/net6.0/KMA.SmartHome.DL.dll
/BE/KMA.SmartHome.DL/bin/Debug/net6.0/KMA.SmartHome.DL.pdb
/BE/KMA.SmartHome.DL/obj/Debug/net6.0/KMA.SmartHome.DL.dll
/BE/KMA.SmartHome.DL/obj/Debug/net6.0/KMA.SmartHome.DL.pdb
/BE/KMA.SmartHome.DL/obj/Debug/net6.0/KMA.SmartHome.DL.sourcelink.json
/BE/KMA.SmartHome.UI/bin/Debug/net6.0/KMA.SmartHome.UI.dll
/BE/KMA.SmartHome.UI/bin/Debug/net6.0/KMA.SmartHome.UI.exe
/BE/KMA.SmartHome.UI/bin/Debug/net6.0/KMA.SmartHome.UI.pdb
/BE/KMA.SmartHome.UI/bin/Debug/net6.0/KMA.SmartHome.UI.staticwebassets.endpoints.json
/BE/KMA.SmartHome.UI/obj/Debug/net6.0/apphost.exe
/BE/KMA.SmartHome.UI/obj/Debug/net6.0/KMA.SmartHome.UI.AssemblyInfo.cs
/BE/KMA.SmartHome.UI/obj/Debug/net6.0/KMA.SmartHome.UI.AssemblyInfoInputs.cache
/BE/KMA.SmartHome.UI/obj/Debug/net6.0/KMA.SmartHome.UI.dll
/BE/KMA.SmartHome.UI/obj/Debug/net6.0/KMA.SmartHome.UI.pdb
/BE/KMA.SmartHome.UI/obj/Debug/net6.0/KMA.SmartHome.UI.sourcelink.json
/BE/KMA.SmartHome.UI/obj/Debug/net6.0/staticwebassets.build.endpoints.json
/BE/KMA.SmartHome.UI/obj/Debug/net6.0/staticwebassets.build.json
